@font-face {
  font-family: "ferry";
  src: url("/src/assets/fonts/ferry_black.otf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Inter-medium";
  src: url("/src/assets/fonts/Inter-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter-regular";
  src: url("/src/assets/fonts/Inter-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "ferry";
  src: url("/src/assets/fonts/ferry_black.otf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Inter-medium";
  src: url("/src/assets/fonts/Inter-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter-regular";
  src: url("/src/assets/fonts/Inter-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
.display-none {
  display: none;
}

.summary-container {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: 2rem;
  width: 100%;
}
@media (max-width: 810px) {
  .summary-container {
    flex-direction: column;
  }
}
.summary-container .card-headers {
  background-color: #029491;
  border-radius: 10px 0 0 10px;
  border: 2px solid #029491;
  color: #FFFFFF;
  padding: 0.7rem 2rem;
  font-family: Inter-medium, sans-serif;
  font-size: 1.25rem;
}
@media (max-width: 810px) {
  .summary-container .card-headers {
    display: flex;
    border-radius: 10px 10px 0 0;
    justify-content: space-between;
    width: 75vw;
    margin-left: 39px;
  }
  .summary-container .card-headers p {
    margin: 2rem 0;
    font-size: 1.8rem;
  }
  .summary-container .card-headers p:first-child {
    padding-right: 1em;
  }
}
@media (max-width: 810px) {
  .summary-container .slick-slider {
    flex-direction: row;
    margin: 0;
  }
}
.summary-container .slick-list {
  max-width: 1230px;
  padding: 0.7rem 1.5rem 0.7rem 0;
  border: 2px solid #029491;
  border-radius: 0 10px 10px 0;
}
@media (max-width: 1600px) {
  .summary-container .slick-list {
    width: 75vw;
  }
}
@media (max-width: 810px) {
  .summary-container .slick-list {
    border-radius: 0 0 10px 10px;
  }
}
.summary-container .slick-list .card-container {
  padding: 0 2rem;
  border-right: 2px solid #029491;
  font-size: 1.125rem;
}
@media (max-width: 810px) {
  .summary-container .slick-list .card-container .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .summary-container .slick-list .card-container .card p {
    margin: 2rem 0;
    font-size: 1.6rem;
  }
  .summary-container .slick-list .card-container .card p:first-child {
    margin-right: -1.5em;
  }
}
.summary-container .slick-list .card-container p {
  margin: 1.325rem 0;
}
.summary-container .slick-arrow img {
  height: 39px;
  width: 39px;
  cursor: pointer;
  opacity: 20%;
}
.summary-container .slick-arrow img:hover {
  opacity: 1;
}
.summary-container .slick-arrow.slick-prev {
  display: flex !important;
  flex-direction: row;
  align-items: center;
}
.summary-container .slick-arrow.slick-next {
  display: flex !important;
  flex-direction: row;
  align-items: center;
}

/*# sourceMappingURL=index.css.map */
