@import "Var";
@import "Global";

main.auth {
  position: relative;
  //width: 100%;
  display: flex;

  .left {
    width: 55vw;
    margin-right: 2vw;

    h1 {
      font-family: ferry, sans-serif;
      font-size: 2.5rem;
    }

    img {
      width: 23vw;
      max-width: 350px;
      margin-left: 10vw;
    }
  }
  .auth-form {
    position: relative;
    width: 30vw;
    max-width: 430px;
    min-width: 250px;
    margin-top: 5vh;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    padding: 2rem 1.5rem;

    .auth-lock {
      position: absolute;
      width: 75px;
      top: 0;
      left: 0;
      transform: translate(-60%, -60%);
    }
    .auth-header {
      display: grid;
      grid-template-columns: 1fr 1.3fr;
      column-gap: 1rem;
      text-align: center;
      margin-bottom: 2.5rem;

      .login, .registration {
        border-bottom: 2px solid;
        padding-bottom: 0.4em;
        cursor: pointer;
      }
      .login {
        border-color: $main-color1;
        color: $main-color1;
      }
      .registration {
        border-color: $add-color5;
        color: $add-color5;
      }
    }

    .login-form {
      display: grid;

      .wrap-input {
        display: grid;
        position: relative;

        span {
          color: $add-color6;
          font-size: 1rem;
        }

        input {
          margin: 1rem 0;
          padding: 1em;
          border-radius: 5px;
          border: 1px solid $add-color5;
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
        }

        .input-error {
          border: 1px solid $error-color;
          color: $error-color;
        }
        .error-message {
          color: $error-color;
          font-size: 1rem;
          //margin-top: 5px;
          position: absolute;
          width: 100%;
          bottom: 0;
          text-align: center;
          //left: 50%;
          transform: translate(0, 40%);
        }

      }

      .login-form-btn {
        background-color: $add-color3;
        border-radius: 5px;
        border: none;
        color: $main-color3;
        font-family: Inter-medium, sans-serif;
        font-size: 1.4rem;
        padding: 1rem;
        margin: 1rem 0;
        cursor: pointer;
        max-height: 60px;

        &:disabled {
          opacity: 50%;
        }
      }
    }
    .restore-pwd {
      display: grid;
      text-align: center;
      cursor: pointer;
      color: $add-color3;
      text-decoration: underline;
      font-size: 0.9rem;
    }
    .oauth {
      margin-top: 2rem;

      span {
        color: $add-color6;
      }
      .oauth-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(30%, 96px));
        gap: 0.6rem 0.6rem;
        margin-top: 1rem;

        .provider {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          border-radius: 3px;
          border: 1px solid rgba(red($add-color3), green($add-color3), blue($add-color3), 0.51);
          max-width: 96px;
          max-height: 31px;
          padding: 1rem;

          img {
            width: 100%;
          }
        }
      }
    }
  }
}