@import "Var";
@import "Global";

footer {
  @include head-footer;

  bottom: 0;
  height: 137px;

  color: $main-color3;
  background-color: $main-color1;

  img {
    object-fit: cover;
    height: 100%;
  }

  .contact-container {

    address {
      text-align: end;

      font-style: normal;
      font-family: Inter-regular, sans-serif;

      a {
        color: $main-color3;
      }

      .contact-item {
        text-align: right;
        margin: 0;
      }

      .copyright {
        margin-top: 1rem;
      }
    }
  }
}
