@import "Var";
@import "Global";

header {
  @include head-footer;
  top: 0;
  height: 93px;

  img {
    object-fit: cover;
    height: 100%;
  }

  nav {
    a {
      margin: 0 3vw;
    }
  }

  .auth-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .divider {
      width: 2px;
      background-color: $add-color2;
      margin: 0 1.5vw;
      height: 1.65rem;
    }

    .button-login{
      background-color: $add-color2;
      padding: 0.3rem 0.7rem;
      border-radius: 5px;
    }
  }

}