@import "../../assets/styles/Var";
@import "../../assets/styles/Global";


header {
  //display: grid;
  //grid-template-areas: 'logo logo nav user-info user';
  //justify-content: space-between;
  //align-items: center;
  //width: 100%;


  @include head-footer;

  padding: 0 5vw;
  font-size: 14px;

  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  height: 93px;
  background-color: $main-color3;

  // adaptive test
  justify-content: center;

  & > .brand-logo {
    object-fit: cover;
    height: 100%;
    // adaptive test
    margin-right: auto;
  }

  @import "./Auth/index";
  @import './UnAuth/index';
}