@font-face {
  font-family: "ferry";
  src: url("/src/assets/fonts/ferry_black.otf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Inter-medium";
  src: url("/src/assets/fonts/Inter-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter-regular";
  src: url("/src/assets/fonts/Inter-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "ferry";
  src: url("/src/assets/fonts/ferry_black.otf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Inter-medium";
  src: url("/src/assets/fonts/Inter-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter-regular";
  src: url("/src/assets/fonts/Inter-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
.display-none {
  display: none;
}

article.article-card {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 2rem 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
article.article-card .article-info {
  display: flex;
  color: #949494;
  font-size: 1.125rem;
}
@media (max-width: 810px) {
  article.article-card .article-info {
    font-size: 1.4rem;
  }
}
article.article-card .article-info .article-date {
  margin-right: 2rem;
}
article.article-card .article-info a {
  color: inherit;
  font-size: inherit;
  text-decoration: underline;
}
article.article-card .article-info a:hover {
  color: #000000;
}
article.article-card .article-title {
  font-family: Inter-medium, sans-serif;
  font-size: 1.625rem;
}
@media (max-width: 810px) {
  article.article-card .article-title {
    font-size: 1.9rem;
  }
}
article.article-card .tag {
  background-color: #FFB64F;
  border-radius: 5px;
  margin-bottom: 1.5em;
  width: 157px;
  height: 22px;
  font-size: 0.75rem;
  display: grid;
  place-items: center;
}
@media (max-width: 810px) {
  article.article-card .tag {
    font-size: 1rem;
  }
}
article.article-card img {
  width: 100%;
  max-height: 160px;
  border-radius: 10px;
  object-fit: cover;
  vertical-align: center;
}
article.article-card .article-content {
  opacity: 0.5;
  font-size: 1rem;
  margin-bottom: 2rem;
}
@media (max-width: 810px) {
  article.article-card .article-content {
    font-size: 1.2rem;
  }
}
article.article-card .article-footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
article.article-card .article-footer .read-more {
  border-radius: 5px;
  border: none;
  font-family: Inter-medium, sans-serif;
  padding: 1rem 2rem;
  margin: 1rem 0;
  cursor: pointer;
  height: 59px;
  min-width: 305px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7CE3E1;
  color: #000000;
  font-size: 1rem;
  font-family: Inter-regular, sans-serif;
  margin: 0;
}
article.article-card .article-footer .read-more:disabled {
  opacity: 50%;
  cursor: auto;
}
@media (max-width: 810px) {
  article.article-card .article-footer .read-more {
    font-size: 1.4rem;
    height: 41px;
    width: 195px;
  }
}
article.article-card .article-footer .read-more.iactive {
  opacity: 0.5;
  cursor: auto;
}
article.article-card .article-footer .word-count {
  color: #949494;
  font-size: 1rem;
}
@media (max-width: 810px) {
  article.article-card .article-footer .word-count {
    font-size: 1.4rem;
  }
}

/*# sourceMappingURL=index.css.map */
