@import "Var";
@import "Global";


main.welcome {

  .about-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-bottom: 10vh;
    position: relative;

    .left {
      z-index: 1;
      p {
        width: 40vw;
        max-width: 700px;
        font-size: 1.25rem;
        margin-bottom: 8vh;
      }

      a{
        padding: 1rem 3rem;
        background-color: $add-color3;
        color: $main-color3;
      }
    }

    img {
      position: absolute;
      object-fit: contain;

      height: 100%;
      z-index: 0;
      right: 0;
    }

    h1 {
      font-family: ferry, sans-serif;
      font-size: 3.5rem;

    }
  }

  .why-us {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 1vh;
    width: 100%;

    h2 {
      font-family: ferry, sans-serif;
      font-size: 2.8rem;
    }
  }

  .img-why-us {
    width: 100%;
    margin: 5vh 0;
  }

  .main-rates{
    //margin-bottom: 3vh;

    h2 {
      font-family: ferry, sans-serif;
      font-size: 2.8rem;
    }
  }
}
