$main-color1: #029491;
$main-color2: #000000;
$main-color3: #FFFFFF;

$add-color1: #FFB64F;
$add-color2: #7CE3E1;
$add-color3: #5970FF;
$add-color4: #3BA5E0;
$add-color5: #C7C7C7;
$add-color6: #949494;
$add-color7: #D9D9D9;
$add-color8: #8AC540;

$error-color: #FF5959;

@font-face {
    font-family: 'ferry';
    src: url('/src/assets/fonts/ferry_black.otf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Inter-medium';
    src: url('/src/assets/fonts/Inter-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Inter-regular';
    src: url('/src/assets/fonts/Inter-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}